div.egdfield-lookup-dialog-content {
  background:none;
  border:0;
  color:#000000;
  margin:0;
  padding:0;
  text-align:left;
}
div.egdfield-lookup-dialog-content .modal-scroll{
  overflow:hidden;
  overflow-y:auto;
}
div.egdfield-lookup-dialog-content #popups-overlay {
  background-color:transparent;
}
div.egdfield-lookup-dialog-content #popups-loading {
  width:248px;
  position:absolute;
  display:none;
  opacity:1;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  z-index:99;
}
div.egdfield-lookup-dialog-content #popups-loading span.popups-loading-message {
  background:#FFF url(../images/loading-large.gif) no-repeat 8px center;
  display:block;
  color:#444444;
  font-family:Arial;
  font-size:22px;
  font-weight:bold;
  height:36px;
  line-height:36px;
  padding:0 40px;
}
div.egdfield-lookup-dialog-content #popups-loading table,
div.egdfield-lookup-dialog-content .popups-box table {
  margin:0px;
}
div.egdfield-lookup-dialog-content #popups-loading tbody,
div.egdfield-lookup-dialog-content .popups-box tbody {
  border:none;
}
div.egdfield-lookup-dialog-content .popups-box tr {
  background-color:transparent;
}
div.egdfield-lookup-dialog-content td.popups-border {
  background: url(../images/popups-border.png);
  background-color:transparent;
  border: none;
}
div.egdfield-lookup-dialog-content td.popups-tl,
div.egdfield-lookup-dialog-content td.popups-tr,
div.egdfield-lookup-dialog-content td.popups-bl,
div.egdfield-lookup-dialog-content td.popups-br {
  background-repeat: no-repeat;
  height:10px;
  padding:0px;
}
div.egdfield-lookup-dialog-content td.popups-tl { background-position: 0px 0px; }
div.egdfield-lookup-dialog-content td.popups-t,
div.egdfield-lookup-dialog-content td.popups-b {
  background-position: 0px -40px;
  background-repeat: repeat-x;
}
div.egdfield-lookup-dialog-content td.popups-tr { background-position: 0px -10px; width: 10px; }
div.egdfield-lookup-dialog-content td.popups-cl,
div.egdfield-lookup-dialog-content td.popups-cr {
  background-position: -10px 0;
  background-repeat: repeat-y;
  width:10px;
}
div.egdfield-lookup-dialog-content td.popups-cl,
div.egdfield-lookup-dialog-content td.popups-cr,
div.egdfield-lookup-dialog-content td.popups-c { padding:0; border: none; }
div.egdfield-lookup-dialog-content td.popups-c { background:#fff; }
div.egdfield-lookup-dialog-content td.popups-bl { background-position: 0px -20px; }
div.egdfield-lookup-dialog-content td.popups-br { background-position: 0px -30px; width: 10px; }

div.egdfield-lookup-dialog-content .popups-box,
div.egdfield-lookup-dialog-content #popups-loading {
  border: 0px solid #454545;
  opacity:1;
  overflow:hidden;
  padding:0;
  background-color:transparent;
}
div.egdfield-lookup-dialog-content .popups-container {
  overflow:hidden;
  height:100%;
  background-color:#fff;
}
div.egdfield-lookup-dialog-content div.popups-title {
  -moz-border-radius-topleft: 0px;
  -webkit-border-radius-topleft: 0px;
  margin-bottom:0px;
  background-color:#ff7200;
  border:1px solid #ce5c00;
  padding:4px 10px 5px;
  color:white;
  font-size:1em;
  font-weight:bold;
}
div.egdfield-lookup-dialog-content .popups-body {
  background-color:#fff;
  padding:8px;
}
div.egdfield-lookup-dialog-content .popups-box .popups-buttons,
div.egdfield-lookup-dialog-content .popups-box .popups-footer {
  background-color:#fff;
}
div.egdfield-lookup-dialog-content .popups-title a.close {
  color: #fff;
  text-decoration:none;
}
div.egdfield-lookup-dialog-content .popups-close {
  font-size:120%;
  float:right;
  text-align:right;
}
div.egdfield-lookup-dialog-content .modal-loading-wrapper {
  width:220px;
  height:19px;
  margin:0 auto;
  margin-top:2%;
}

div.egdfield-lookup-dialog-content tbody{
  border:none;
}

div.egdfield-lookup-dialog-content .modal-content .modal-throbber-wrapper img {
  margin-top: 100px;
}

#edit-players {
  width: 200px;
}
